*{
margin:0;
padding:0;
box-sizing:border-box;
}
.title{
	text-align:center;
}
.title nav{
	display: inline-block;
	padding: 20px;
}
.title h3{
    color: cornflowerblue;
	padding-bottom: 15px;
}
.portfolio-sec{
	margin:100px 30px;
}
.container{
	width:90%;
	margin:auto;
}
.row-sec{
	display:flex;  
	
}
.col-sec{
	width:33.3%;
}
.card{
	padding:12px; 
}
img{
	width:100%;    
}
.list{
	display:flex;
	gap:10%;
}
.list li{
	list-style-type:none;
	padding: 2px;
    list-style-type: none;
    border: 1px solid #0000002b;
	color:black;
}
.active{
	background-color:cornflowerblue;
}
.list a{
	text-decoration:none;
}